* {
  box-sizing: border-box;
}

:root {
  --main-dark-color: rgb(80, 80, 80);
  --accent-card-color: rgba(27, 27, 27, 0.894);
  --main-light-color: white;
  --main-follow-btn-color: crimson;
}

body {
  font-family: sans-serif;
  color: var(--main-light-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.user-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 250px;
  min-height: 700px;
  margin: 3em auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.4);
  background-color: var(--accent-card-color);
}

.user-card-background {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.user-avatar {
  border-radius: 50%;
  border: 2px solid var(--main-dark-color);
  max-width: 12rem;
  margin-top: -6rem;
  margin-left: 3rem;
}

.user-avatar:hover {
  filter: grayscale(30%);
  cursor: pointer;
}

.user-info {
  position: relative;
}

.user-actions {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 3.5rem;
}

.contacts {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contacts-info.hidden {
  display: none;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
  border-left: 3px solid var(--main-dark-color);
  background-color: rgba(0, 0, 0, 0.03);
}

.action-btn {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  min-width: 160px;
  text-align: center;
  border: 2px solid var(--main-follow-btn-color);
  border-radius: 8px;
  background-color: var(--main-follow-btn-color);
  color: var(--main-light-color);
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.1s ease;
}

.action-btn.subscribed {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  border-color: var(--main-dark-color);
}

.like-btn {
  font-size: 1.5rem;
  filter: grayscale(100%);
  transition:
    filter 0.2s ease,
    transform 0.1s ease;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--main-dark-color);
  border: none;
}

.like-btn.active {
  filter: grayscale(0%);
}

.user-card-name,
.user-card-nickname {
  position: absolute;
  left: 17rem;
}

.user-card-name {
  bottom: 3rem;
  font-size: 1.7rem;
}

.user-card-nickname {
  bottom: 1.5rem;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  border-bottom: 4px solid var(--main-dark-color);
  font-size: 1.3rem;
  padding: 1rem 0 1rem;
  text-transform: uppercase;
}

.nav-link {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  transition:
    transform 0.2s ease-out,
    border-color 0.2s ease-out;
  border: 2px solid transparent;
}

.nav-link:hover {
  border-bottom: 2px solid var(--main-dark-color);
  transform: scale(1.1);
}

.nav-link:active {
  border: 2px solid var(--main-dark-color);
  border-radius: 5px;
  transform: scale(0.99);
}

.main-card-content {
  margin: 1rem;
}

.user-phone {
  cursor: pointer;
}

.user-publications-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  gap: 3rem;
  justify-content: center;
}

.publication-img {
  margin: 0.5rem 0;
  width: 20em;
  height: 20em;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--main-dark-color);
  transition: transform 0.1s ease-out;
}

.publication-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.user-projects {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.user-main-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  .user-card-background {
    height: 14rem;
  }

  .user-avatar {
    max-width: 10rem;
    margin-top: -6rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .user-actions {
    display: flex;
    justify-content: center;
  }

  .user-card-name,
  .user-card-nickname {
    position: static;
    text-align: center;
    margin: 0.5rem 0;
  }

  .nav-links {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-link {
    display: inline-block;
    width: 50%;
    text-align: center;
    border: 2px solid var(--main-dark-color);
    border-radius: 8px;
    cursor: pointer;
    padding: 0.2rem;
  }

  .nav-link:hover {
    border-bottom: 2px solid var(--main-dark-color);
  }
}
